<div class="row" >
  <div class='col-xs-4 offset-xs-4'>
    <h1> Location Data </h1>
    <button onClick="getLocation()"> Get Location </button>
    <p id="mapholder"> No Location Yet </p>

  </div>
</div>
