<div class="row place head" >
  <h1> Locations </h1>
  <button class="btn btn-default" onClick="getLocation()"> Toggle Map</button>

</div>
<div class="row" >
  <div id="loader" class="loader"></div>
  <div id='places-near'> </div>
  <div id="map">  </div>
</div>
