<div class="row place head" >
  <h1> Locations </h1>
  <button onClick="getLocation()"> See Map </button>
  <button onClick="getPlaces()"> See List </button>

</div>
<div class="row" >
  <div id="loader" class="loader"></div>
  <div id='places-near'> </div>
  <div id="mapholder"> TEST  </div>
</div>
