/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

 */

 @import "bootstrap";

.row {
  margin-left: 0;
  margin-right: 0;
}

#mapholder {
  
}

.place {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid;
  border-width: thin;
  border-color: gray;
}
h3 {
  color: black;
}
body {
  font-size: 14pt;
  color: gray;
}
.head {
  text-align: center;
  background-color: #66ccff;
  color: white;
}

.loader {
  position: absolute;
  left: 45%;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #66ccff; /* Blue */
  border-bottom: 16px solid #66ccff; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
